<%- include('header') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Your Profile</h1>
        <p> We will help you make the optimal water plan based on your profile</p>
    </div>

    You entered the following ..<br>

    <table class="Profile Tabe">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Collected data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>The volumn of water you prefer drink a day</td>
        <td><%= url  %></td>


      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Your Weight</td>
        <td><%= url  %></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Calories you average take per day</td>
        <td><%= url  %></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Your personal goal</td>
        <td><%= coms  %></td>
      </tr>
    </tbody>
  </table>

<%- include('footer') -%>
