<%- include('header') -%>
<%- include('menubar') -%>

<div class="jumbotron">
    <h1>Dailywater Profile for <%= user.userName %></h1>
    <p> Welcome <%= user.googlename %>
        with email <%= user.googleemail %>
        You are logged in to Dailywater.
      </p>
      <p> <%= user.zipcode %> <%= user.city %> <%= user.state %>
        </p>
    <p>Last updated on <%= user.lastUpdat %> </p>
    <a href="/editProfile">edit profile</a>


</div>


=======
  <table class="Profile Tabe">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Input area</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>How much water(ML) you prefer drink whole day</td>
      <td><input type="text" name="data1"> <br></td>


    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Weight(Kg)</td>
      <td><input type="text" name="data2"> <br></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Calories you average take per day(kcal)</td>
      <td><input type="text" name="data3"> <br></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Personal Goal</td>
      <td><textarea name="data4"></textarea></td>
    </tr>
  </tbody>
</table>
  <button type="submit" class="btn btn-primary my-1">Submit</button>
</form>
</form>
>>>>>>> dc733259e99ba3faa18c30556589e24a6faa70e8

<%- include('footer') -%>
